a{
    text-decoration: none;
    color: white;
}
.navbar ,  footer{
    background-color: #000 !important;
    color: whitesmoke;
}
.primero{
    background-color: rgb(34, 25, 7);
    color: whitesmoke;
}

.btn-dark:hover{
    background-color: rgb(173, 151, 103);
}

.img{
    transition: all 1s;
}

.img:hover{
    width: 350px;
    transform: translate(0px, -20px);
}

@media (max-width: 992px){
.ocultarSmMd{
        display: none;
    }
}

@media (max-width: 578px){

.img{
    transition: all 1s;
    }
    
.img:hover{
    width: 387px;
    transform: translate(0px, -20px);
    }
    
.ocultarSm{
        display: none;

    }    
}